---
layout: default
---

    <section class="blog-content">
      {% for post in site.posts %}
        <div class="blog-content-post animated fadeInUp">
        
            <a href="{{ post.url | prepend: site.baseurl }}"><div class="blog-content-post-image-container"><img src={{ post.image }} class="blog-content-post-image-container-img"/></div></a>

            <h2 class="{{ post.category-title-slug }} {{ post.color-code }}">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            <div class="{{ post.category-tag-slug }} {{ post.color-code }}">{{ post.category-tag }}</div>

            <span class="blog-content-post-meta"><b>{% if post.autor %}By {{ post.autor }} - {% endif %}</b>{{ post.date | date: "%b %-d, %Y" }}</span>

            <p class="blog-content-post-description">{{ post.description }}</p>

            <span class="{{ post.category-link-slug }} {{ post.color-code }}">
              <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
            </span>
        
        </div>
      {% endfor %}
    </section>