/**
 * Site header
 */
.site-header {
    display: flex;
    justify-content: space-between;
    min-height: 66px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.site-header-title {
    font-size: 1.910rem;
    font-weight: 700;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    line-height: 56px;
    margin-bottom: 0;
    margin-left: 1.540rem;
    margin-top: .9rem;
    color: #fff;
    &,
    &:visited {
        color: #fff;
    }
    &:hover {
        text-decoration: none;
    }
}

.site-header-about {
    font-size: 1rem;
    color: #fff;
    line-height: $base-line-height;
    margin-top: 1.8rem;
    margin-right: 1.8rem;
    &,
    &:visited {
        color: #fff;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    @media (min-width: 768px) {
        font-size: 1.2rem;
    }
}


/**
 * Blog
 */
.blog-top {
    color: #fff;
    background-color: rgb(0, 156, 243);
    background-blend-mode: multiply;
    background-image: url('../img/watches.png');
    background-size: 26.250rem;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.blog-top-title {
    margin-top: 10rem;
    align-self: center;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    animation-duration: 1.5s;
    animation-delay: .5s;
}
.blog-top-selection {
    align-self: center;
    margin-bottom: 5rem;
}
.blog-content {
    background-color: #EAEAEA;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.blog-content-post {
    position: relative;
    height: 30rem;
    width: 20rem;
    margin: 1em;
    background-color: #fff;
    text-align: center;
    animation-duration: 1.5s;
    animation-delay: .5s;
}
.blog-content-post-category-tag {
    position: absolute;
    top: 189px;
    left: 12px;
    color: white;
    padding: 2px 8px;
    font-size: 14px;
}
.blog-content-post-category-tag.business-red {
    background-color: #d81d4e;
}
.blog-content-post-category-tag.design-yellow {
    background-color: #ecd018;
}
.blog-content-post-category-tag.development-blue {
    background-color: #009cf3;
}
.blog-content-post-category-tag.life-pink {
    background-color: #ea4c89;
}
.blog-content-post-category-tag.marketing-orange {
    background-color: #ff4742;
}
.blog-content-post-image-container {
    position: relative;
    overflow: hidden;
}
.blog-content-post-image-container img {
    width: 100%;
    height: 200px;
    transition: transform 0.2s ease-out;
}
.blog-content-post-image-container:hover img {
    transform: scale(1.1);
}
.blog-content-post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
.blog-content-post-title {
    margin-top: 1rem;
    margin-bottom: 2px;
}
.blog-content-post-title > a {
    word-wrap: break-word;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.blog-content-post-title.business-red > a:hover {
    color: #d81d4e;
}
.blog-content-post-title.design-yellow > a:hover {
    color: #ecd018;
}
.blog-content-post-title.development-blue > a:hover {
    color: #009cf3;
}
.blog-content-post-title.life-pink > a:hover {
    color: #ea4c89;
}
.blog-content-post-title.marketing-orange > a:hover {
    color: #ff4742;
}
.blog-content-post-description {
    word-wrap: break-word;
    margin: 1rem 10% 1.8rem 10%;
}
.blog-content-post-link {
    font-weight: 700;
}
.blog-content-post-link > a {
    transition: color 0.2s ease-in-out;
}
.blog-content-post-link.business-red > a {
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #d81d4e;
}
.blog-content-post-link.business-red > a:hover {
    color: #d81d4e;
    text-decoration: none;
    border-bottom: 3px solid #d81d4e;
}
.blog-content-post-link.design-yellow > a {
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #ecd018;
}
.blog-content-post-link.design-yellow > a:hover {
    color: #ecd018;
    text-decoration: none;
    border-bottom: 3px solid #ecd018;
}
.blog-content-post-link.development-blue > a {
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #009cf3;
}
.blog-content-post-link.development-blue > a:hover {
    color: #009cf3;
    text-decoration: none;
    border-bottom: 3px solid #009cf3;
}
.blog-content-post-link.life-pink > a {
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #ea4c89;
}
.blog-content-post-link.life-pink > a:hover {
    color: #ea4c89;
    text-decoration: none;
    border-bottom: 3px solid #ea4c89;
}
.blog-content-post-link.marketing-orange > a {
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #ff4742;
}
.blog-content-post-link.marketing-orange > a:hover {
    color: #ff4742;
    text-decoration: none;
    border-bottom: 3px solid #ff4742;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-title {
    font-size: 32px;
    line-height: 54px;
    text-align: center;
    margin-top: $spacing-unit;
    margin-left: 15%;
    margin-right: 15%;

    @media (min-width: 768px) {
        font-size: 42px;
    }
}

.post-content {
    font-size: 17px;
    line-height: 32px;
    margin: $spacing-unit 12%;

    @media (min-width: 768px) {
        font-size: 21px;
        margin: $spacing-unit 20%;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Markdown Formatting
 */
.md-image {
    padding: 15px 0;
}
.image-to-center {
    margin: 0 auto;
    display: block;
}
.image-to-right {
    float: right;
}
.image-to-left {
    float: left;
}
.text-to-center {
    text-align: center;
}
